
//$white-bg: "../images/vector.svg";
//color

$white: #ffffff;
$black: #000000;
$green: #29b348;
$color-title: #151B26;
$color-text: #4c4c4c;
$color-border: #f1f1f1;

$footer-bg: #303030;
$footer-title: #8e8e8e;