body {
	left: 0;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	@include transition(linear all 400ms);
	position: relative;
	height: 100vh;
	color: $color-text;
	background-color: $white;
	font-size: 14px;
	&.open {
		right: 0;
		overflow-x: hidden;
		.content-area {
			overflow-x: hidden;
		}
		.navbar {
			position: fixed;
			margin-left: -280px;
			margin-right: 280px;
			z-index: 4;
		}
		&:before {
			content: "";
			position: fixed;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.8);
			z-index: 4;
		}
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: $color-text;
}
.order-6 {
	@media (max-width: 767px) {
		order: 0;
		margin-bottom: 20px;
		text-align: center;
	}
}
.row {
	&.gutters-0 {
		margin-left: -30px;
		margin-right: -30px;
		div[class*="col-"] {
			padding-left: 0;
			padding-right: 0;
			@media (max-width: 768px) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}
img {
	max-width: 100%;
}
hr {
	width: 100%;
	margin: 0 0 38px 0;
}
ul {
	&.list-check {
		list-style: none;
		padding-left: 0;
		margin-top: 20px;
		margin-bottom: 0;
		li {
			font-size: 14px;
			font-weight: 400;
			color: $color-text;
			font-family: 'Montserrat', sans-serif;
			margin-bottom: 12px;
			position: relative;
			padding-left: 30px;
			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				content: "";
				width: 20px;
				height: 20px;
				border-radius: 200px;
				background-color: $green;
				position: absolute;
				top: 0;
				left: 0;
			}
			&::after {
				content: "check";
				font-family: 'Material Icons';
			    font-weight: normal;
			    font-style: normal;
			    font-size: 14px;
			    line-height: 1;
			    letter-spacing: normal;
			    text-transform: none;
			    display: inline-block;
			    white-space: nowrap;
			    word-wrap: normal;
			    direction: ltr;
			    -webkit-font-feature-settings: 'liga';
			    -webkit-font-smoothing: antialiased;
			    position: absolute;
			    top: 3px;
			    left: 3px;
			    color: $white;
			}
		}
	}
}
.content-area {
	position: relative;
}
.title-section {
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	@media(max-width: 480px) {
		margin-bottom: 15px !important;
	}
	h2 {
		color: $color-text;
		font-size: 28px;
		line-height: 63px;
		display: block;
		margin-bottom: 0;
		font-weight: 700;
		font-family: 'Montserrat', sans-serif;
		@media (max-width: 768px) {
			font-size: 24px;
			line-height: 40px;
		}
		@media(max-width: 480px) {
			font-size: 18px;
			display: block;
		}
	}
	p {
		color: $color-text;
		font-size: 24px;
		line-height: 24px;
		display: block;
		margin-bottom: 0;
		font-weight: 400;
		font-family: 'Montserrat', sans-serif;
		&.lg {
			font-size: 26px;
			line-height: 30px;
			@media (max-width: 768px) {
				font-size: 20px
			}
			@media (max-width: 767px) {
				font-size: 18px
			}
		}
		@media (max-width: 768px) {
			font-size: 18px
		}
		@media (max-width: 767px) {
			font-size: 16px
		}
	}
}
.section {
	padding: 50px 0;
	position: relative;
	overflow: hidden;
	@media (max-width: 767px) {
		padding: 30px 0;
	}
	.container {
		z-index: 2;
		position: relative;
	}
}
.separator {
	text-align: center;
	padding: 40px 0;
	&:before {
		content: "";
		display: inline-block;
		width: 150px;
		height: 4px;
		background-color: #f7f7f7;
	}
}
.price-box {
	border: 1px solid $color-border;
	padding-bottom: 20px;
	text-align: center;
	border-radius: 2px;
	.title {
		border-bottom: 1px solid $color-border;
		padding: 4px 0;
		h3 {
			color: $color-text;
		}
	}
	.price {
		padding: 8px 0;
		border-bottom: 1px solid $color-border;
		span {
			font-size: 16px;
		}
		p {
			font-size: 48px;
			line-height: 48px;
			margin-bottom: 0;
			sup {
				font-size: 14px;
				top: -1.5em;
			}
		}
	}
	.user {
		padding: 8px 0;
		border-bottom: 1px solid $color-border;
		p {
			margin-bottom: 0;
		}
	}
	.package {
		padding: 15px 0;
		h4 {
			margin: 0 0 10px 0;
			font-size: 16px;
			color: $color-text;
		}
		p {
			margin-bottom: 4px;
			font-family: 'Source San Pro', sans-serif;
		}
		.grade {
			text-align: center;
			span {
				color: $primary;
				display: inline-block;
			}
		}
	}
	.btn {
		margin-top: 10px;
	}
	&.best {
		border-color: $primary;
		position: relative;
		.title {
			border-bottom: 1px solid $primary;
			background-color: $primary;
			h3 {
				color: $white;
			}
		}
		.price {
			border-bottom: 1px solid $primary;
			background-color: $primary;
			span {
				font-size: 16px;
				color: $white;
			}
			p {
				color: $white;
			}
		}
		.user {
			border-bottom: 1px solid #187fde;
			background-color: #187fde;
			p {
				color: $white;
			}
		}
		.btn-outline-dark {
			background-color: $primary;
			border-color: $primary;
			color: $white;
			&:hover {
				background-color: #187fde;
				border-color: #187fde;
			}
		}
		&::before {
			content: "";
			width: 109px;
			height: 109px;
			display: block;
			background-image: url('../images/best-seller.png');
			background-size: 100%;
			background-repeat: no-repeat;
			position: absolute;
			top: -10px;
			left:  -10px;
		}
	}
}
.newsletter {
	position: relative;
	.form-control {
		border-radius: 200px;
		height: 50px;
		padding: 5px 100px 5px 15px;
	}
	.btn {
		padding-left: 4px !important;
		padding-right: 4px !important;
		font-weight: 400;
		font-size: 13px;
		position: absolute;
		top: 6px;
		right: 6px;
	}
	p {
		color: #656565 !important;
		margin-top: 15px;
	}
}
.social {
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		li {
			display: inline-block;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
			a {
				display: block;
				width: 50px;
				height: 50px;
				border: 2px solid #ffffff;
				border-radius: 100%;
				text-align: center;
				line-height: 50px;
				font-size: 20px;
				color: #ffffff;
			}
		}
	}
}
