{% set page_id = "Home" %}
{% extends "layout.html" %}
{% block content %}
<div class="landingpage">
	<div class="jumbotron">
	  <div class="container">
	  	<div class="row">
	  		<div class="col-md-6 order-6">
	  			<img src="./dist/images/svg/iso-php7.svg" alt="niagahoster" />
	  		</div>
	  		<div class="col-md-6">
	  			<div class="wrapper">
		  			<h1>PHP Hosting</h1>
		  			<p>Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</p>
		  			<ul class="list-check">
		  				<li>Solusi PHP untuk performa query yang lebih cepat</li>
		  				<li>Konsumsi memory yang lebih rendah</li>
		  				<li>Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</li>
		  				<li>Feature enkripsi ionCube dan Zend Guard Loader</li>
		  			</ul>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	</div>
	<div class="section feature">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-4">
							<div class="feature-box">
								<img src="./dist/images/svg/hosting-zendguard.svg" alt="niagahoster" />
								<p>PHP Zend Guard Loader</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box pl-5 pr-5">
								<img src="./dist/images/svg/hosting-composer.svg" alt="niagahoster" />
								<p>PHP Composer</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box">
								<img src="./dist/images/svg/hosting-ioncube.svg" alt="niagahoster" />
								<p>PHP ionCube Loader</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section table-price">
		<div class="container">
			<div class="title-section">
				<h2>Paket Hosting Singapura Yang Tepat</h2>
				<p>Diskon 40% Domain dan SLL Gratis untuk Anda</p>
			</div>
			<div class="row gutters-0">
				<div class="col-md-3">
					<div class="price-box">
						<div class="title">
							<h3>Bayi</h3>
						</div>
						<div class="price">
							<span><del>Rp 19.000</del></span>
							<p><sup>Rp</sup> <b>14</b><sup><b>.900</b>/ bln</sup>
						</div>
						<div class="user">
							<p><b>938</b> Pengguna Terdaftar</p>
						</div>
						<div class="package">
							<h4>0.5 Resource Power</h4>
							<p><b>500 MB</b> Disk Space</p>
							<p><b>Unlimited</b> Bandwidth</p>
							<p><b>Unlimited</b> Database</p>
							<p><b>1</b> Domain</p>
							<p><b>Instant</b> Backup</p>
							<p><b>Unlimited SLL</b> Gratis Selamanya</p>
						</div>
						<a href="#" class="btn btn-outline-dark rounded">Pilih Sekarang</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="price-box">
						<div class="title">
							<h3>Pelajar</h3>
						</div>
						<div class="price">
							<span><del>Rp 46.900</del></span>
							<p><sup>Rp</sup> <b>23</b><sup><b>.450</b>/ bln</sup>
						</div>
						<div class="user">
							<p><b>4.168</b> Pengguna Terdaftar</p>
						</div>
						<div class="package">
							<h4>1 X Resource Power</h4>
							<p><b>Unlimited</b> Disk Space</p>
							<p><b>Unlimited</b> Bandwidth</p>
							<p><b>Unlimited</b> POP3 Email</p>
							<p><b>Unlimited</b> Database</p>
							<p><b>10</b> Addon Domain</p>
							<p><b>Instant</b> Backup</p>
							<p><b>Domain Gratis</b> Selamanya</p>
							<p><b>Unlimited SLL</b> Gratis Selamanya</p>
						</div>
						<a href="#" class="btn btn-outline-dark rounded">Pilih Sekarang</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="price-box best">
						<div class="title">
							<h3>Personal</h3>
						</div>
						<div class="price">
							<span><del>Rp 58.900</del></span>
							<p><sup>Rp</sup> <b>38</b><sup><b>.900</b>/ bln</sup>
						</div>
						<div class="user">
							<p><b>10.017</b> Pengguna Terdaftar</p>
						</div>
						<div class="package">
							<h4>3 X Resource Power</h4>
							<p><b>Unlimited</b> Disk Space</p>
							<p><b>Unlimited</b> Bandwidth</p>
							<p><b>Unlimited</b> POP3 Email</p>
							<p><b>Unlimited</b> Database</p>
							<p><b>Unlimited</b> Addon Domain</p>
							<p><b>Instant</b> Backup</p>
							<p><b>Domain Gratis</b> Selamanya</p>
							<p><b>Unlimited SLL</b> Gratis Selamanya</p>
							<p><b>Private</b> Name Server</p>
							<p><b>SpamAssasin</b> Mail Protection</p>
						</div>
						<a href="#" class="btn btn-outline-dark rounded">Pilih Sekarang</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="price-box">
						<div class="title">
							<h3>Bisnis</h3>
						</div>
						<div class="price">
							<span><del>Rp 109.900</del></span>
							<p><sup>Rp</sup> <b>65</b><sup><b>.900</b>/ bln</sup>
						</div>
						<div class="user">
							<p><b>3.552</b> Pengguna Terdaftar</p>
						</div>
						<div class="package">
							<h4>3 X Resource Power</h4>
							<p><b>Unlimited</b> Disk Space</p>
							<p><b>Unlimited</b> Bandwidth</p>
							<p><b>Unlimited</b> POP3 Email</p>
							<p><b>Unlimited</b> Database</p>
							<p><b>Unlimited</b> Addon Domain</p>
							<p><b>Magic Auto</b> Backup &amp; Restore</p>
							<p><b>Domain Gratis</b> Selamanya</p>
							<p><b>Unlimited SLL</b> Gratis Selamanya</p>
							<p><b>Private</b> Name Server</p>
							<p><b>Proiritas</b> Layanan Support</p>
							<div class="grade">
								<span class="material-icons">grade</span>
								<span class="material-icons">grade</span>
								<span class="material-icons">grade</span>
								<span class="material-icons">grade</span>
								<span class="material-icons">grade</span>
							</div>
							<p><b>SpamExpert</b> Pro Mail Protection</p>
						</div>
						<a href="#" class="btn btn-outline-dark rounded">Pilih Sekarang</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section packege">
		<div class="container">
			<div class="title-section">
				<p class="lg">Diskon 40% Domain dan SLL Gratis untuk Anda</p>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-6">
							<ul class="list-group">
							  <li class="list-group-item text-center">max execution time 300s</li>
							  <li class="list-group-item text-center">max execution time 300s</li>
							  <li class="list-group-item text-center">php memory limit 1024 MB</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="list-group">
							  <li class="list-group-item text-center">post max size 128 MB</li>
							  <li class="list-group-item text-center">upload max filesize 128 MB</li>
							  <li class="list-group-item text-center">max input vars 2500</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="separator"></div>
		<div class="container">
			<div class="title-section">
				<p class="lg">Semua Paket Hosting Sudah Termasuk</p>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="hosting-packege">
						<div class="icon">
							<img src="./dist/images/svg/PHP-Semua-Versi.svg" alt="niagahoster">
						</div>
						<h3>PHP Semua Versi</h3>
						<p>Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah Sesuka Anda</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hosting-packege">
						<div class="icon">
							<img src="./dist/images/svg/SQL.svg" alt="niagahoster">
						</div>
						<h3>MySQL Versi 5.6</h3>
						<p>Nikmati MySQL terbaru, tercepat dan kaya akan fitur</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hosting-packege">
						<div class="icon">
							<img src="./dist/images/svg/CPanel.svg" alt="niagahoster">
						</div>
						<h3>Panel Hosting cPanel</h3>
						<p>Kelola website dengan panel canggih yang familiar di hati Anda</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hosting-packege">
						<div class="icon">
							<img src="./dist/images/svg/uptime.svg" alt="niagahoster">
						</div>
						<h3>Garansi Uptime 99.9%</h3>
						<p>Data center yang mendukung kelangsungan website Anda 24/7</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hosting-packege">
						<div class="icon">
							<img src="./dist/images/svg/innoDB.svg" alt="niagahoster">
						</div>
						<h3>Data InnoDB Unlimited</h3>
						<p>Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hosting-packege">
						<div class="icon">
							<img src="./dist/images/svg/SQL-remote.svg" alt="niagahoster">
						</div>
						<h3>Wildcard Remote MySQO</h3>
						<p>Mendukung s/d 25 max_user_connections dan 100 max_connections</p>
					</div>
				</div>
			</div>
		</div>
		<div class="separator"></div>
		<div class="container">
			<div class="title-section">
				<p class="lg">Mendukung Penuh Framework Laravel</p>
			</div>
			<div class="row">
				<div class="col-md-6 order-6">
					<img src="./dist/images/svg/laravel-hosting.svg" alt="niagahoster">
				</div>
				<div class="col-md-6">
					<div class="support">
						<p>Tidak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP murah kami mendukung penuh framework favorit Anda</p>
						<ul class="list-check">
			  				<li>Install Laravel <strong>1 Klik</strong> dengan Softaculous Installer</li>
			  				<li>Mandukung extensi <strong>PHP MCrypt, phar, mbstring, json</strong> dan <strong>fileinfo</strong></li>
			  				<li>Tersedia <strong>Composer</strong> dan <strong>SSH</strong> untuk menginstal Packages pilihan Anda</li>
			  			</ul>
			  			<span class="nb">Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</span>
			  			<a href="#" class="btn btn-primary btn-lg rounded">Pilih Hosting Anda</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section modul">
		<div class="container">
			<div class="title-section">
				<p class="lg">Modul Lengkap Untuk Menjalankan Aplikasi PHP Anda</p>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="modul-list">
						<ul>
							<li>Ice PHP</li>
							<li>apc</li>
							<li>apcu</li>
							<li>apm</li>
							<li>ares</li>
							<li>bcmath</li>
							<li>bcompiler</li>
							<li>big_int</li>
							<li>bitset</li>
							<li>bloomy</li>
							<li>bz2_filter</li>
							<li>clamav</li>
							<li>coin_acceptor</li>
							<li>crack</li>
							<li>dba</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="modul-list">
						<ul>
							<li>http</li>
							<li>huffman</li>
							<li>idn</li>
							<li>igbinary</li>
							<li>imagick</li>
							<li>imap</li>
							<li>inclued</li>
							<li>inotify</li>
							<li>interbase</li>
							<li>intl</li>
							<li>ioncube_loader</li>
							<li>clamioncube_loader_4av</li>
							<li>jsmin</li>
							<li>json</li>
							<li>ldap</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="modul-list">
						<ul>
							<li>nd_pdo_mysql</li>
							<li>oauth</li>
							<li>oci8</li>
							<li>odbc</li>
							<li>opcache</li>
							<li>pdf</li>
							<li>pdo</li>
							<li>pdo_dblib</li>
							<li>pdo_firebird</li>
							<li>pdo_mysql</li>
							<li>pdo_odbc</li>
							<li>pdo_pgsql</li>
							<li>pdo_sqlite</li>
							<li>pgsql</li>
							<li>phalcon</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="modul-list">
						<ul>
							<li>stats</li>
							<li>stem</li>
							<li>stomp</li>
							<li>suhosin</li>
							<li>sybase_ct</li>
							<li>sysvmsg</li>
							<li>sysvsem</li>
							<li>sysvshm</li>
							<li>tidy</li>
							<li>timezonedb</li>
							<li>trader</li>
							<li>translit</li>
							<li>uploadprogress</li>
							<li>uri_template</li>
							<li>uuid</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="text-center mt-3">
				<a href="#" class="btn btn-outline-dark rounded btn-lg">Selengkapnya</a>
			</div>
		</div>
	</div>
	<div class="section call-action">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="text-action">
						<h3>Linux Hosting yang Stabil dengan Teknologi Live</h3>
						<p>SuperMicro <strong>Intel Xeon 24-Cores</strong> server dengan RAM <strong>128 GB</strong> dan teknologi <strong>Live CloudLinux</strong> untuk stabilitas server Anda. Apache loader balancher berbasis Lite Speed Technologies. <strong>CageFS</strong> scurity, <strong>Raid-10</strong> protection dan auto backup untuk keamanan website PHP Anda</p>
			  			<a href="#" class="btn btn-primary btn-lg rounded">Pilih Hosting Anda</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="pict mt-5">
						<img src="./dist/images/Image-support.png" alt="niagahoster">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="share-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Bagikan jika Anda menyukai Halaman ini</p>
				</div>
				<div class="col-md-6">
					<div id="shareIcons"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="live-chat">
		<div class="container">
			<div class="action-wrapper">
				<div class="text">Perlu <strong>Bantuan?</strong> Hubungi Kami <strong>0274-5305505</strong></div>
				<button type="button" class="btn btn-outline-dark btn-lg rounded"><i class="material-icons">forum</i> Live Chat</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
{% endblock %}